* {
    margin: 0;
    padding: 0;
}

body{

}

header{
    text-align: center;
}

main{
  display: flex;  
  padding: 15px;
}

main section, section div{
    border: 2px solid black;
}

.formContainer {
    flex: 0 0 15%;
}

.weather{
    flex: 0 0 80%; 
}

.current{
    padding: 10px;
}

.future{
    display: flex; 
}

.forecastCard{
    margin: 10px;
    width: 18% ;
    padding: 10px
}
